# Assignment 2 - Data Structures

## Object

Following the statement given in below:

> In python, everything is defined as objects.

Make any object and check it's three properties. (No need to create a variable for the object)

What is a mutable object? Give an example.

What is a immutable object? Give an example.

Below are some variables that holds values of some objects. Answer the following questions based on these variables.

- Compare given variables using `is` operator. 
- Check the id of the given variables using `id` function. 
- Comment on the result with **mutablity/immutabulity**. Why ids are same or different?

In [ ]:
a, b, c = [1, 2, 'c'], [1, 2, 'c'], True
d, e, f, g = 3, 3, 'a', 'b'

`a` and `b`.

`b` and `b`.

`c` and `True`.

`d` and `e`.

`f` and `g`.

## String

In [ ]:
my_string = 'I am learning Python programming language in DS-542 class!'

In [ ]:
my_string_with_placeholders = "I, {}, like to learn new languages

**Index** is refers to the position of the item in a list. The character in the first index of `my_string` is `I`. What is the 10th character?

Slice the string in `my_string` between `5th` and `10th` index.

Slice the string in `my_string` by starting from `5th` index till `10th`, by `2` steps.

Slice the string in `my_string` from `5th` till `10th`. And then from `14th` till `20`. Add these new sliced values together.

Get the last character of `my_string`.

Slice the string in `my_string` from `5th` till the end of the string.

Slice the string in `my_string` from **reverse**, starting from `7th` index.

Slice the string in `my_string` from **reverse**, starting from `7th` till `13th` index.

Slice the string in `my_string` from **reverse**, starting from `7th` till `13th` index, by `2` steps.

Make `my_string` in title case, lowercase, uppercase, and swapcase.

Return the lowest index found in `my_string` for the word `Python` using `find` method.

Count the number of `am`'s in `my_string`.

Check the length of `my_string`.

Add `my_string` to `my_string`.

Check if the string `Python` is in `my_string`. Then, check for `python`.

Replace all `a`'s with `A`.

Split `my_string` into two strings using the word `Python` as the delimiter string (sep). Save these two strings into two variables, `a` and `b`.

Convert `a` to `list`. Convert `b` to `set`.

Find out what will be the difference between two sets `a` and `b`.  

- Show (set A – set B) - will be the elements present in set A but not in B 
- Show (set B – set A) - will be the elements present in set B but not in set A.

We can use `format` method to replace placeholders represented by `{}` characters in a string. 

Replace the placeholder in `my_string_with_placeholders` with your full name.

Format takes positional arguments, and also takes keyword arguments. 

Replace the placeholder in string `" in {year}!"` with this year.

Do the following.

1. Concat `my_string_with_placeholders` and string `" in {year}!"` together, and save the new string into variable `my_string_with_placeholders_and_year`. 
2. Use both positional and keyword argument together in `my_string_with_placeholders_and_year` using `format` method.

## Integer, Float

In [ ]:
number1, number2 = 10, 23.3333

What is the `numerator` and `denominator` for `number1`?

Convert `number1` to float.

Convert `number2` to integer.

Use `is_integer` method for `number2` to check if it is integer.

Round `number2` to 2 precision points.

## List

In [ ]:
names = ['John', 'Sam', 'Nick', 'Janny', 'Susanne']
ages = [10, 24, 42, 21, 31]

Slice the list to select `Sam` and `Nick`.

Insert `Nick` to `3rd` poisition in `names` list.

Count the number of `Nick`'s in `names` list.

Extend the `names` list with another list, `['A', 'B']`.

Append `13` to `names` list.

Remove the last item from `names` list.

Remove `Nick` from `names` list.

Reverse the order of items in `names` list.

Sort the items alphabetically in `names` list.

Sort the items by length in `names` list. That is, `'A', 'B', 'Sam', ..., 'Susanne'`.

Do the following:
    
1. Create a new variable `names2` and assign `names` list as it's value.
2. Append `Tony` to the new variable you created in 1.
3. Explain why the the name `Tony` appears in `names` list, even tough you added to `names2` list.
4. Repeat 1 and 2 and create `names3`, only this time, use `names.copy` method while assigning. 
5. Explain why `names3` and `names` has different values.

Convert `names` list to a set.

Add `names` and `ages` list together and make a single list.

Use `zip` function `list` function and zip `names` and `ages` lists together.

Delete the `2nd` item in `names` list.

Clear all values in `names` list.

## Tuple

In [ ]:
genders = ('Male', 'Female')
brands = ('Tesla', 'Honda', 'Honda', 'Toyota')

Get the length of the `genders` tuple.

Get the index of `Toyota` from `brands` tuple.

Count the number of `Honda`'s in `brands` tuple.

Delete `Tesla` from `brands` tuple. Explain your result.

Add `genders` and `brands` tuples together and make a single tuple.

## Set

In [ ]:
a = {1, 1, 2, 3, 5, 8, 13}
b = {1, 'A', 'B', 2, 3}

Add `21` to `a` set.

Use `pop` function to remove an item from `a` list.

Remove `A` from b` set.

Remove `C` from b` set. Explain your result.

Show 

- the elements of `a` that are not in `b`, (set a - set b)
- the elements of `b` that are not in `a`, (set b - set a)

Remove all elements of `a` from the set.

## Dictionary

Show all keys.

In [ ]:
stocks.keys()

Show all values.

In [ ]:
stocks.values()

Show all key-value pairs.

Get the value of `TSLA`.

Get the value of `NKE` using square brackets notation and `get` method. Explain your result.

Update the value of 'TSLA' to 'Tesla 2' using `update` method.

Add `MSFT` for `Microsoft` and `SBUX` for `Starbucks` to `stocks` dictionary.

Remove `APPL` from list.

Remove and return a (key, value) pair as a 2-tuple.

Do the following:
    
1. Create a new variable `stocks2` and assign `stocks` list as it's value.
2. Append `TWTR` key with `Twitter` value to the new variable you created in 1.
3. Explain why the the pair `('TWTR', 'Twitter')` appears in `stocks` list, even tough you added to `stocks2` list.
4. Repeat 1 and 2 and create `stocks3`, only this time, use `stocks.copy` method while assigning. 
5. Explain why `stocks3` and `stocks` has different values.

Remove all items from `stocks` dictionary.