# Assignment 2 - Data Structures (Solutions)

You will be interacting with python data structures in this assignment. Covers:
    
- Object
- String
- Int, float
- Set
- Tuple
- Dict

Do not use builtin functions like `sorted`, `min`, `max`. Use methods available in each type, such as `list.count`, `dict.update` etc. In the begining of section, there are variables defined. Use those to do the questions. 

**Hint:** All the answers of this assignment can be done in oneline, no more than that.

## Object

Following the statement given in below:

> In python, everything is defined as objects.

Make any object and check it's three properties. (No need to create a variable for the object)

In [1]:
None, id(None), type(None) # could be anything as long as you show value, id, and type.

(None, 4412999056, NoneType)

What is a mutable object? Give an example.

In [2]:
# An object that value can be changed after creation, such as list, set, dict, etc.
[1,2], {3,4,4,5}, {0:'a','b':1}

([1, 2], {3, 4, 5}, {0: 'a', 'b': 1})

What is a immutable object? Give an example.

In [3]:
# an object that its value cannot be changed once created, frozenset, tuple, string, int, float, bool, etc.
None, 4, 42.223, (1,2,3)

(None, 4, 42.223, (1, 2, 3))

Below are some variables that holds values of some objects. Answer the following questions based on these variables.

- Compare given variables using `is` operator. 
- Check the id of the given variables using `id` function. 
- Comment on the result with **mutablity/immutabulity**. Why ids are same or different?

In [4]:
a, b, c = [1, 2, 'c'], [1, 2, 'c'], True
d, e, f, g = 3, 3, 'a', 'b'

`a` and `b`.

In [5]:
# mutable, everytime a new list created, a new object gets created
a, b, a is b, id(a), id(b)

([1, 2, 'c'], [1, 2, 'c'], False, 4448964416, 4448264000)

`b` and `b`.

In [6]:
# variable holds the same same object. comparing it with itself returns therefore True
b , b is b, id(b)

([1, 2, 'c'], True, 4448264000)

`c` and `True`.

In [7]:
# True is immutable. Only one object in python with True.
c, True, c is True, id(c), id(True)

(True, True, True, 4412919376, 4412919376)

`d` and `e`.

In [8]:
# 3 is an immutable object. 
# There is only one 3 and whenever we create another 3, we always refer to the same object.
d, e, d is e, id(d), id(e)

(3, 3, True, 4414421360, 4414421360)

`f` and `g`.

In [9]:
# different object hold different variables
f, g, f is g, id(f), id(g)

('a', 'b', False, 4415678704, 4415252336)

## String

In [10]:
my_string = 'I am learning Python programming language in DS-542 class!'

In [11]:
my_string_with_placeholders = "I, {}, like to learn new languages"

**Index** is refers to the position of the item in a list. The character in the first index of `my_string` is `I`. What is the 10th character?

In [12]:
my_string[10]

'i'

Slice the string in `my_string` between `5th` and `10th` index.

In [13]:
my_string[5:10]

'learn'

Slice the string in `my_string` by starting from `5th` index till `10th`, by `2` steps.

In [14]:
my_string[5:10:2]

'lan'

Slice the string in `my_string` from `5th` till `10th`. And then from `14th` till `20`. Add these new sliced values together.

In [15]:
my_string[5:10] + my_string[14:20]

'learnPython'

Get the last character of `my_string`.

In [16]:
my_string[-1]

'!'

Slice the string in `my_string` from `5th` till the end of the string.

In [17]:
my_string[5:]

'learning Python programming language in DS-542 class!'

Slice the string in `my_string` from **reverse**, starting from `7th` index.

In [18]:
my_string[:-7]

'I am learning Python programming language in DS-542'

Slice the string in `my_string` from **reverse**, starting from `7th` till `13th` index.

In [19]:
my_string[-13:-7]

'DS-542'

Slice the string in `my_string` from **reverse**, starting from `7th` till `13th` index, by `2` steps.

In [20]:
my_string[-13:-7:2]

'D-4'

Make `my_string` in title case, lowercase, uppercase, and swapcase.

In [21]:
my_string.title(),my_string.lower(), my_string.upper(), my_string.swapcase()

('I Am Learning Python Programming Language In Ds-542 Class!',
 'i am learning python programming language in ds-542 class!',
 'I AM LEARNING PYTHON PROGRAMMING LANGUAGE IN DS-542 CLASS!',
 'i AM LEARNING pYTHON PROGRAMMING LANGUAGE IN ds-542 CLASS!')

Return the lowest index found in `my_string` for the word `Python` using `find` method.

In [22]:
my_string.find('Pyth'), my_string.find('lea')

(14, 5)

Count the number of `am`'s in `my_string`.

In [23]:
my_string.count('am')

2

Check the length of `my_string`.

In [24]:
len(my_string)

58

Add `my_string` to `my_string`.

In [25]:
my_string + my_string

'I am learning Python programming language in DS-542 class!I am learning Python programming language in DS-542 class!'

Check if the string `Python` is in `my_string`. Then, check for `python`.

In [26]:
'Python' in my_string, 'python' in my_string

(True, False)

Replace all `a` s with `A`.

In [27]:
my_string.replace('a', 'A')

'I Am leArning Python progrAmming lAnguAge in DS-542 clAss!'

Split `my_string` into two strings using the word `Python` as the delimiter string (sep). Save these two strings into two variables, `a` and `b`.

In [28]:
a, b = my_string.split(sep='Python')

Convert `a` to `list`. Convert `b` to `set`.

In [29]:
list(a), set(b)

(['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' '],
 {' ',
  '!',
  '-',
  '2',
  '4',
  '5',
  'D',
  'S',
  'a',
  'c',
  'e',
  'g',
  'i',
  'l',
  'm',
  'n',
  'o',
  'p',
  'r',
  's',
  'u'})

Find out what will be the difference between two sets `a` and `b`.  

- Show (set A – set B) - will be the elements present in set A but not in B 
- Show (set B – set A) - will be the elements present in set B but not in set A.

In [30]:
set(a) - set(b), set(b) - set(a)

({'I'}, {'!', '-', '2', '4', '5', 'D', 'S', 'c', 'o', 'p', 's', 'u'})

We can use `format` method to replace placeholders represented by `{}` characters in a string. 

Replace the placeholder in `my_string_with_placeholders` with your full name.

In [31]:
my_string_with_placeholders.format('Metin Senturk')

'I, Metin Senturk, like to learn new languages'

Format takes positional arguments, and also takes keyword arguments. 

Replace the placeholder in string `" in {year}!"` with this year.

In [32]:
" in {year}!".format(year='2021')

' in 2021!'

Do the following.

1. Concat `my_string_with_placeholders` and  together, and save the new string into variable`my_string_with_placeholders_and_year`. 
2. Use both positional and keyword argument together in `format` method.

In [33]:
my_string_with_placeholders_and_year = my_string_with_placeholders + " in {year}!"
my_string_with_placeholders_and_year.format('Metin Senturk', year='2021')

'I, Metin Senturk, like to learn new languages in 2021!'

## Integer, Float

In [34]:
number1, number2 = 10, 23.3333

What is the `numerator` and `denominator` for `number1`?

In [35]:
number1.numerator, number1.denominator

(10, 1)

Convert `number1` to float.

In [36]:
float(number1)

10.0

Convert `number2` to integer.

In [37]:
int(number2)

23

Use `is_integer` method for `number2` to check if it is integer.

In [38]:
number2.is_integer()

False

Round `number2` to 2 precision points.

In [39]:
round(number2, 2)

23.33

## List

In [40]:
names = ['John', 'Sam', 'Nick', 'Janny', 'Susanne']
ages = [10, 24, 42, 21, 31]

Slice the list to select `Sam` and `Nick`.

In [41]:
names[1:3]

['Sam', 'Nick']

Insert `Nick` to `3rd` poisition in `names` list.

In [42]:
names.insert(3, 'Nick'), names

(None, ['John', 'Sam', 'Nick', 'Nick', 'Janny', 'Susanne'])

Count the number of `Nick`'s in `names` list.

In [43]:
names.count('Nick'), names

(2, ['John', 'Sam', 'Nick', 'Nick', 'Janny', 'Susanne'])

Extend the `names` list with another list, `['A', 'B']`.

In [44]:
names.extend(['A', 'B']), names

(None, ['John', 'Sam', 'Nick', 'Nick', 'Janny', 'Susanne', 'A', 'B'])

Append `13` to `names` list.

In [45]:
names.append(13), names

(None, ['John', 'Sam', 'Nick', 'Nick', 'Janny', 'Susanne', 'A', 'B', 13])

Remove the last item from `names` list.

In [46]:
names.pop(), names

(13, ['John', 'Sam', 'Nick', 'Nick', 'Janny', 'Susanne', 'A', 'B'])

Remove `Nick` from `names` list.

In [47]:
names.remove('Nick'), names

(None, ['John', 'Sam', 'Nick', 'Janny', 'Susanne', 'A', 'B'])

Reverse the order of items in `names` list.

In [48]:
names.reverse(), names

(None, ['B', 'A', 'Susanne', 'Janny', 'Nick', 'Sam', 'John'])

Sort the items alphabetically in `names` list.

In [49]:
names.sort(), names

(None, ['A', 'B', 'Janny', 'John', 'Nick', 'Sam', 'Susanne'])

Sort the items by length in `names` list. That is, `'A', 'B', 'Sam', ..., 'Susanne'`.

In [50]:
names.sort(key=lambda x: len(x)), names

(None, ['A', 'B', 'Sam', 'John', 'Nick', 'Janny', 'Susanne'])

Do the following:
    
1. Create a new variable `names2` and assign `names` list as it's value.
2. Append `Tony` to the new variable you created in 1.
3. Explain why the the name `Tony` appears in `names` list, even tough you added to `names2` list.
4. Repeat 1 and 2 and create `names3`, only this time, use `names.copy` method while assigning. 
5. Explain why `names3` and `names` has different values.

In [51]:
names2 = names
names2.append('Tony')
names2, names, 'names2 is a pointer to the object that variable `names` hold.'
names3 = names.copy()
names3.append('Tony')
names3, names, 'names2 is a new object that its values are copied from variable `names`.'

(['A', 'B', 'Sam', 'John', 'Nick', 'Janny', 'Susanne', 'Tony', 'Tony'],
 ['A', 'B', 'Sam', 'John', 'Nick', 'Janny', 'Susanne', 'Tony'],
 'names2 is a new object that its values are copied from variable `names`.')

Convert `names` list to a set.

In [52]:
set(names)

{'A', 'B', 'Janny', 'John', 'Nick', 'Sam', 'Susanne', 'Tony'}

Add `names` and `ages` list together and make a single list.

In [53]:
names + ages

['A',
 'B',
 'Sam',
 'John',
 'Nick',
 'Janny',
 'Susanne',
 'Tony',
 10,
 24,
 42,
 21,
 31]

Use `zip` function `list` function and zip `names` and `ages` lists together.

In [54]:
list(zip(names, ages))

[('A', 10), ('B', 24), ('Sam', 42), ('John', 21), ('Nick', 31)]

Delete the `2nd` item in `names` list.

In [55]:
del names[2]
names

['A', 'B', 'John', 'Nick', 'Janny', 'Susanne', 'Tony']

Clear all values in `names` list.

In [56]:
names.clear(), names

(None, [])

## Tuple

In [57]:
genders = ('Male', 'Female')
brands = ('Tesla', 'Honda', 'Honda', 'Toyota')

Get the length of the `genders` tuple.

In [58]:
len(genders)

2

Get the index of `Toyota` from `brands` tuple.

In [59]:
brands.index('Toyota')

3

Count the number of `Honda`'s in `brands` tuple.

In [60]:
brands.count('Honda')

2

Delete `Tesla` from `brands` tuple. Explain your result.

In [61]:
del brands[0], 'tuple is immutable, as message says below!'

SyntaxError: cannot delete literal (<ipython-input-61-787a626cb559>, line 1)

Add `genders` and `brands` tuples together and make a single tuple.

In [62]:
genders + brands

('Male', 'Female', 'Tesla', 'Honda', 'Honda', 'Toyota')

## Set

In [63]:
a = {1, 1, 2, 3, 5, 8, 13}
b = {1, 'A', 'B', 2, 3}

Add `21` to `a` set.

In [64]:
a.add(21), a

(None, {1, 2, 3, 5, 8, 13, 21})

Use `pop` function to remove an item from `a` list.

In [65]:
a.pop(), a

(1, {2, 3, 5, 8, 13, 21})

Remove `A` from b` set.

In [66]:
b.remove('A'), b

(None, {1, 2, 3, 'B'})

Remove `C` from b` set. Explain your result.

In [67]:
b.remove('C'), b, "'C' is not in set b."

KeyError: 'C'

Show 

- the elements of `a` that are not in `b`, (set a - set b)
- the elements of `b` that are not in `a`, (set b - set a)

In [68]:
a - b, b - a

({5, 8, 13, 21}, {1, 'B'})

Remove all elements of `a` from the set.

In [69]:
a.clear(), a

(None, set())

## Dictionary

In [70]:
stocks = {
    'TSLA': 'Tesla',
    'APPL': 'Apple',
    'GS': 'Goldman Sachs',
    'GOOG': 'Google'
}

Make a the `stocks` list using `dict` constructor.

Make the `stocks` dict again using `dict` constructor.

In [71]:
dict(TESLA='Tesla', APPL='Apple', GS='Goldman Sachs', GOOG='Google')

{'TESLA': 'Tesla', 'APPL': 'Apple', 'GS': 'Goldman Sachs', 'GOOG': 'Google'}

Show all keys.

In [72]:
stocks.keys()

dict_keys(['TSLA', 'APPL', 'GS', 'GOOG'])

Show all values.

In [73]:
stocks.values()

dict_values(['Tesla', 'Apple', 'Goldman Sachs', 'Google'])

Show all key-value pairs.

In [74]:
stocks.items()

dict_items([('TSLA', 'Tesla'), ('APPL', 'Apple'), ('GS', 'Goldman Sachs'), ('GOOG', 'Google')])

Get the value of `TSLA`.

In [75]:
stocks.get('TSLA')

'Tesla'

Get the value of `NKE` using square brackets notation and `get` method. Explain your result.

In [76]:
stocks['NKE'], stocks.get('NKE'), 'brackets fails bc no key. get methods uses default value if key not found.'

KeyError: 'NKE'

Update the value of 'TSLA' to 'Tesla 2' using `update` method.

In [77]:
stocks.update({'TSLA': 'Tesla 2'}), stocks

(None,
 {'TSLA': 'Tesla 2', 'APPL': 'Apple', 'GS': 'Goldman Sachs', 'GOOG': 'Google'})

Add `MSFT` for `Microsoft` and `SBUX` for `Starbucks` to `stocks` dictionary.

In [78]:
stocks['MSFT'] = 'Microsoft'
stocks['SBUX'] = 'Starbucks'

Remove `APPL` from list.

In [79]:
stocks.pop('APPL'), stocks

('Apple',
 {'TSLA': 'Tesla 2',
  'GS': 'Goldman Sachs',
  'GOOG': 'Google',
  'MSFT': 'Microsoft',
  'SBUX': 'Starbucks'})

Remove and return a (key, value) pair as a 2-tuple.

In [80]:
stocks.popitem()

('SBUX', 'Starbucks')

Do the following:
    
1. Create a new variable `stocks2` and assign `stocks` list as it's value.
2. Append `TWTR` key with `Twitter` value to the new variable you created in 1.
3. Explain why the the pair `('TWTR', 'Twitter')` appears in `stocks` list, even tough you added to `stocks2` list.
4. Repeat 1 and 2 and create `stocks3`, only this time, use `stocks.copy` method while assigning. 
5. Explain why `stocks3` and `stocks` has different values.

In [81]:
stocks2 = stocks
stocks2['TWTR'] = 'Twitter'
stocks2, stocks
stocks3 = stocks.copy()
stocks3['TWTR'] = 'Twitter'
stocks3, stocks

({'TSLA': 'Tesla 2',
  'GS': 'Goldman Sachs',
  'GOOG': 'Google',
  'MSFT': 'Microsoft',
  'TWTR': 'Twitter'},
 {'TSLA': 'Tesla 2',
  'GS': 'Goldman Sachs',
  'GOOG': 'Google',
  'MSFT': 'Microsoft',
  'TWTR': 'Twitter'})

Remove all items from `stocks` dictionary.

In [82]:
stocks.clear(), stocks

(None, {})